<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Lab.DAL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Lab.DAL.Properties.Settings>
            <setting name="Lab_DAL_Service_Approve" serializeAs="String">
                <value>http://localhost:50715/Approve.asmx</value>
            </setting>
        </Lab.DAL.Properties.Settings>
    </applicationSettings>
</configuration>